<?xml version="1.0"?>
<launch>
  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <include file="$(find mycobot_moveit)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <!-- Run the main MoveIt! executable without trajectory execution (we do not have controllers configured by default) -->
  <include file="$(find mycobot_moveit)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="true"/>
    <arg name="info" value="true"/>
  </include>

  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find mycobot_moveit)/launch/moveit_rviz.launch">
    <!-- <arg name="config" value="false"/> -->
    <arg name="config" value="true"/>
  </include>
</launch>
