<?xml version="1.0"?>
<launch>
  <arg name="hardware"   default="true"/>

  <include unless="$(arg hardware)"  file="$(find mycobot_description)/launch/description.launch"/>

  <node unless="$(arg hardware)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <rosparam param="source_list">[move_group/fake_controller_joint_states]</rosparam>
  </node>

  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <include file="$(find mycobot_moveit)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <!-- Run the main MoveIt! executable without trajectory execution (we do not have controllers configured by default) -->
  <include file="$(find mycobot_moveit)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="true"/>
    <arg name="info" value="true"/>
  </include>

  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find mycobot_moveit)/launch/moveit_rviz.launch">
    <!-- <arg name="config" value="false"/> -->
    <arg name="config" value="true"/>
  </include>
</launch>
